.prices-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 40px;
  margin-bottom: 10px;
}

.prices-title {
  margin-bottom: 20px;
}

.prices-card-box {
  text-align: center;
  // box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 1px 2px rgba(0, 0, 0, 0.07),
  //   0 1px 2px rgba(0, 0, 0, 0.07), 0 1px 2px rgba(0, 0, 0, 0.07),
  //   0 1px 2px rgba(0, 0, 0, 0.07), 0 1px 2px rgba(0, 0, 0, 0.07);
}

.prices-card-title {
  background-color: #3bda70;
  padding: 10px 0;
}

.prices-card-amount {
  padding: 30px 0;
  font-size: 38px;
  background-color: rgb(240, 240, 240);
}

.prices-card-description {
  padding: 10px 0;
  background-color: rgb(247, 247, 247);
  font-size: 20px;
}

.prices-card-discount {
  padding: 10px 0;
  background-color: rgb(222, 252, 152);
  font-size: 20px;
}

.prices-notes-icon {
  width: 60px;
}

.prices-notes-box {
  padding: 10px;
  // background-color: rgb(222, 252, 152);
  // background-color: #ffecb6;
  // box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 1px 2px rgba(0, 0, 0, 0.07),
  //   0 1px 2px rgba(0, 0, 0, 0.07), 0 1px 2px rgba(0, 0, 0, 0.07),
  //   0 1px 2px rgba(0, 0, 0, 0.07), 0 1px 2px rgba(0, 0, 0, 0.07);
}

.prices-notes a {
  color: rgb(6, 43, 163);
  text-decoration: none;
}

.prices-notes a:hover {
  color: rgb(75, 114, 240);
}

@media screen and (max-width: 800px) {
  .prices-content {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
}
