.prices-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 40px;
}

.prices-title {
  margin-bottom: 20px;
}

.prices-card-title {
  background-color: rgb(224, 224, 224);
  padding: 10px;
}

.prices-card-amount {
  padding: 30px;
  font-size: 38px;
  background-color: rgb(240, 240, 240);
}

.prices-card-description {
  padding: 10px;
  background-color: rgb(247, 247, 247);
  font-size: 20px;
}

.prices-card-discount {
  padding: 10px;
  background-color: rgb(222, 252, 152);
  font-size: 20px;
}
