.hero-wrapper {
  width: 100%;
  // background-image: url("./../images/111.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero-content {
  display: grid;
  grid-template-columns: minmax(450px, 800px) minmax(200px, 500px);
  column-gap: 40px;
  // height: 300px;
}

.hero-title {
  font-size: 44px;
  margin-bottom: 20px;
}

.hero-description-bold {
  font-size: 22px;
}

.hero-description {
  font-size: 18px;
  // text-align: justify;
  // text-justify: inter-word;
  // font-weight: 600;
}

.hero-btn {
  width: 200px;
  height: 50px;
  // border: 1px solid blueviolet;
  border-radius: 20px;
  margin: 10px;
  font-size: 18px;
  // font-weight: 600;
  // padding: 10px;
  align-items: center;

  // display: inline-block;
  text-decoration: none;
  display: inline-grid;
  place-items: center;
  background-color: #20bf55;
  color: white;
  margin-top: 40px;
  // border: 2px solid green;
  transition: transform 0.2s;
}

.hero-btn:hover {
  background-color: #239e4c;
  color: white;
  transform: scale(1.01);
}
//! Edit this
.first {
  background-color: white;
  color: black;
  border: 1px solid #20bf55;
}

.first:hover {
  background-color: rgb(248, 248, 248);
  color: black;
  border: 1px solid #20bf55;
}

.hero-img {
  width: 100%;
  // float: left;
}

@media screen and (max-width: 1000px) {
  .hero-content {
    // display: grid;
    grid-template-columns: 1fr;
    // column-gap: 10px;
  }

  .hero-img {
    // width: 50%;
    // float: right;
    display: none;
  }

  .hero-content {
    height: auto;
  }
}

@media screen and (max-width: 540px) {
  .hero-content {
    height: auto;
  }

  .hero-title {
    font-size: 2rem;
  }

  .hero-description-bold {
    font-size: 1.5rem;
  }

  .hero-btn {
    margin: 0;
    margin-top: 20px;
    width: 100%;
  }

  .first {
    margin-top: 30px;
  }

  .hero-img {
    width: 100%;
  }
}
