@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600&display=swap");

.contacts-content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 40px;

  @media screen and (max-width: 865px) {
    grid-template-columns: 1fr;
  }
}

.contacts-title {
  margin-bottom: 20px;
}

.contacts-info {
  font-weight: 500;
}

.contacts-link:hover {
  color: rgb(75, 114, 240);
}

.whatsapp-wrapper {
  width: 100%;
  height: 50px;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 1fr 12fr;
  column-gap: 10px;
  align-items: center;
}

.whatsapp-img:hover {
  margin-left: 0;
  cursor: pointer;
}

.sazinai-wrapper {
  margin-bottom: 50px;
}

label {
  display: block;
}

input {
  display: block;
  width: 100%;
  height: 40px;
  background-color: rgb(240, 240, 240);
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
  box-sizing: border-box;
}

textarea {
  display: block;
  width: 100%;
  height: 220px;
  background-color: rgb(240, 240, 240);
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
  box-sizing: border-box;
}

.contacts-error-message {
  color: red;
  min-height: 20px;
  text-align: end;
  font-size: 14px;
}

.alert-border {
  border: 1px solid rgb(255, 159, 142);
}

.contact-btn {
  font-family: "Quicksand", sans-serif;
  width: 200px;
  height: 50px;
  float: right;
  background-color: #20bf55;
  color: white;
  border-radius: 20px;
  font-size: 18px;
  border: none;
  font-weight: 500;
  transition: transform 0.2s;
}

.contact-btn:hover {
  background-color: #239e4c;
  transform: scale(1.01);
}

.contact-btn:hover {
  cursor: pointer;
  background-color: #239e4c;
}

@media screen and (max-width: 540px) {
  .contact-required {
    margin-bottom: 20px;
  }

  .contact-btn {
    width: 100%;
  }
}
