.gallery-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 200px;
  column-gap: 30px;
  row-gap: 30px;
  place-items: center;
}

.quality-box {
  padding: 10px;
  text-align: center;
  width: 90%;
}

.quality-img {
  width: 80%;
  height: 180px;
  border-radius: 10px;
  object-fit: cover;
  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}

@media screen and (max-width: 1000px) {
  .quality-img {
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .gallery-content {
    grid-template-columns: 1fr;
  }

  .quality-img {
    width: 80%;
  }
}

@media screen and (max-width: 550px) {
  .quality-box {
    padding: 0px;
    width: 100%;
  }

  .quality-img {
    width: 100%;
  }
}
