.services-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 200px;
  column-gap: 30px;
  row-gap: 30px;
}

.services-box {
  text-align: center;
  align-content: center;
}

.services-img {
  width: 90%;
  height: 180px;
  border-radius: 5px;
  object-fit: cover;
}

.services-img:hover {
  cursor: pointer;
  opacity: 0.8;
}

.services-title {
  margin-bottom: 20px;
}

@media screen and (max-width: 1116px) {
  .services-content {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 765px) {
  .services-content {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 550px) {
  .services-box {
    padding: 0;
  }

  .services-img {
    width: 100%;
  }
}
