.about-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  place-items: normal center;
  min-height: 400px;

  @media screen and (max-width: 865px) {
    grid-template-columns: 1fr;
  }
}

.about-title {
  margin-bottom: 20px;
}

.about-reason {
  display: grid;
  grid-template-columns: 1fr 9fr;
  align-items: center;
}

.about-why {
  margin-bottom: 30px;
}

.about-clients-wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.about-clients-box {
  text-align: center;
}

.about-link {
  text-decoration: none;
  color: rgb(6, 43, 163);
}

.about-link:hover {
  color: rgb(75, 114, 240);
}

@media screen and (max-width: 635px) {
  iframe {
    width: 100% !important;
  }
}
