.gallery-content {
  display: grid;
  grid-template-columns: 1fr 100px 1fr;
  grid-template-rows: 200px;
  column-gap: 20px;
  row-gap: 30px;
}

.quality-title {
  margin-bottom: 20px;
}

.quality-box {
  padding: 10px;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}

.quality-img {
  width: 80%;
  height: 180px;
  border-radius: 5px;
  object-fit: cover;
  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}

.arrow-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.arrow-right {
  width: 40px;
}

@media screen and (max-width: 1000px) {
  .gallery-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px;
    column-gap: 30px;
    row-gap: 30px;
    place-items: center;
  }

  .arrow-box {
    display: none;
  }

  .quality-img {
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .gallery-content {
    grid-template-columns: 1fr;
  }

  .quality-img {
    width: 90%;
  }
}

@media screen and (max-width: 550px) {
  .quality-box {
    padding: 0px;
    width: 100%;
  }

  .quality-img {
    width: 100%;
  }
}
