@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap");

.footer-wrapper {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;
  min-height: 2.5rem;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: rgb(0, 0, 0);
  font-weight: 500;
  font-size: 15px;
  // background-color: #f7f7f7;
  // background: rgba(255, 255, 255, 0.5);
}

.footer-img {
  margin: 0 10px;
  width: 30px;
  filter: grayscale(100%) contrast(100%) brightness(250%);
  opacity: 1;
}

.contacts-link {
  color: rgb(6, 43, 163);
  text-decoration: none;
}

.contacts-link:hover {
  color: rgb(75, 114, 240);
}
