@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

.footer-wrapper {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  padding: 20px;
  min-height: 2.5rem;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 15px;
}

.contacts-link {
  color: rgb(6, 43, 163);
  text-decoration: none;
}

.contacts-link:hover {
  color: rgb(75, 114, 240);
}
