@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

.page-wrapper {
  max-width: 1400px;
  margin: 0 auto;
  min-height: 100vh;
  position: relative;
  font-family: "Quicksand", sans-serif;
  font-weight: 200;
}

.content-wrapper {
  margin-top: 20px;
  padding: 40px;
  padding-bottom: 120px;
  box-sizing: border-box;
}

@media screen and (max-width: 540px) {
  .content-wrapper {
    padding-top: 0;
  }
}
